<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/main.css" />
<meta charset="UTF-8">
<title>Employees</title>
</head>
<body>
	<div th:insert="~{Fragments :: navbar}"></div>

	<div class="m-4">
		<form th:action="@{/new}" method="get">
			<button type="submit" class="btn-primary rounded-lg">New employee</button>
		</form>
	</div>
	<div th:if="${employees.empty}">
		<div>No employee</div>
	</div>
	<div th:unless="${employees.empty}">
		<table id="employee_table"
			class="table table-bordered table-hover table-striped">
			<caption>Registered employees</caption>
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Name</th>
					<th scope="col">Salary</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="employee : ${employees}">
					<td th:text="${employee.id}"></td>
					<td th:text="${employee.name}"></td>
					<td th:text="${employee.salary}"></td>
					<td><a th:href="@{/edit/{id}(id=${employee.id})}">Edit</a></td>
					<td><a th:href="@{/delete/{id} (id=${employee.id})}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="mt-4">
		<form th:action="@{/logout}" method="post">
			<button type="submit" class="btn-warning rounded-lg">Logout</button>
		</form>
	</div>
</body>
</html>