<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

<!-- Compressed CSS -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css" crossorigin="anonymous"> -->

<!-- Compressed JavaScript -->
<!-- <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/js/foundation.min.js" crossorigin="anonymous"></script> -->

<link rel="stylesheet" href="webjars/foundation-sites/dist/css/foundation.min.css"/>
<script src="webjars/foundation-sites/dist/js/foundation.min.js"></script>
<meta charset="UTF-8">
<title>Employees</title>
</head>
<body>
	<div>
		<a th:href="@{/new}">New employee</a>
	</div>
	<div th:if="${employees.empty}">
		<div>No employee</div>
	</div>
	<div th:unless="${employees.empty}">
		<table id="employee_table">
			<caption>Registered employees</caption>
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Name</th>
					<th scope="col">Salary</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="employee : ${employees}">
					<td th:text="${employee.id}"></td>
					<td th:text="${employee.name}"></td>
					<td th:text="${employee.salary}"></td>
					<td><a th:href="@{/edit/{id}(id=${employee.id})}">Edit</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>